# Environment
.env

# Data files
data/
models/
submissions/
*.mseed
*.xml

# Output files
*.pdf
*.png
*.csv
*.pkl

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

seismic_project_roadmap_new.md
seismic_project_roadmap.md
